langchain==0.3.7
langchain-community==0.3.7
langchain-nvidia-ai-endpoints
langchain-chroma==0.1.4
chromadb==0.5.20
pypdf==5.1.0
streamlit==1.40.1
python-dotenv==1.0.1
tiktoken==0.8.0
unstructured==0.16.6
